# VS Code
.vscode/

# Environment variables
.env

# Dart / Flutter
.dart_tool/
.packages
build/
*.log

# IDEs
.idea/
*.iml

# OS files
.DS_Store

# Temp / backup files
*.swp
*.tmp
*.bak
*.old
*.orig
*.rej

# Java artifacts (optional)
*.class
*.jar
